@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-VariableFont.ttf");
}

:root {
  font-family: "Roboto";

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
  font-size: 6.4em;
  text-transform: uppercase;
}

h1 span {
  background-image: linear-gradient(to right, #535bf2, #646cff);
  color: transparent;
  background-clip: text;
}

header {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.searchbar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.searchfield-article,
.order-article {
  min-width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchfield-article {
  gap: 0.8rem;
}

.order-article {
  gap: 0.4rem;
}

button {
  cursor: pointer;
}

input[type="text"]:focus {
  outline: 1px solid #646cff;
}

button,
input[type="text"] {
  border-radius: 8px;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: all 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#search-btn {
  background-color: #646cff;
}

h2 {
  text-align: center;
}

.movie-db-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.movie-db-section > div {
  border: 1px solid #747bff;
  border-radius: 16px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-db-section > div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
