/* # GENERAL STYLING */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-VariableFont.ttf");
}

:root {
  font-family: "Roboto";
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --bg-dark: oklch(0.92 0 250);
  --bg: oklch(0.96 0 250);
  --bg-light: oklch(1 0 250);
  --text: oklch(0.15 0 250);
  --text-muted: oklch(0.4 0 250);
  --highlight: oklch(1 0 250);
  --border: oklch(0.6 0 250);
  --border-muted: oklch(0.7 0 250);
  --primary: oklch(32.122% 0.13702 273.528);
  --secondary: oklch(28.321% 0.15317 297.737);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
  --shadow-light: oklch(0.6 0 250);
  --shadow: oklch(0.4 0 250);
  --shadow-dark: oklch(0.15 0 250);
}

.darkmode {
  --bg-dark: oklch(0.1 0 250);
  --bg: oklch(0.15 0 250);
  --bg-light: oklch(0.2 0 250);
  --text: oklch(0.96 0 250);
  --text-muted: oklch(0.76 0 250);
  --highlight: oklch(0.5 0 250);
  --border: oklch(0.4 0 250);
  --border-muted: oklch(0.3 0 250);
  --primary: oklch(55.732% 0.22213 274.278);
  --secondary: oklch(62.932% 0.17251 305.934);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
  --shadow-light: oklch(0.4 0 250);
  --shadow: oklch(0.5 0 250);
  --shadow-dark: oklch(0.76 0 250);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
}

button {
  cursor: pointer;
}

button {
  border-radius: 1rem;
  border: 2px solid var(--primary);
  outline: none;
  padding: 0.6em 1.2em;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-dark);
  color: var(--text-muted);
  transition: all 0.25s;
}
button:hover {
  background-color: var(--primary);
  color: var(--bg-dark);
}
button:focus,
button:focus-visible {
  background: linear-gradient(320deg, var(--secondary), var(--primary));
  border-color: linear-gradient(320deg, var(--secondary), var(--primary));
  color: var(--bg-dark);
}

/* # HEADER */

.title-wrapper {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  gap: 1rem;
  position: relative;
  width: 60%;
}

h1 {
  color: var(--text);
  text-align: center;
  font-size: 6.4em;
  text-transform: uppercase;
  position: relative;
}

h1 span {
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  color: transparent;
  background-clip: text;
}

h1 span:last-of-type {
  font-size: 1rem;
  position: absolute;
  right: -4.2rem;
  bottom: 0.8rem;
  transform: rotate(-45deg);
}

.searchbar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchbar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 30%;
}

.searchfield-article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

.order-article {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.label-wrapper {
  width: 15%;
}

.label-wrapper p {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.btn-wrapper {
  display: flex;
  gap: 0.8rem;
  width: 85%;
}

.btn-wrapper button {
  width: 50%;
}

.result-count p {
  text-align: center;
}

/* # MAIN */

main {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  height: 100%;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

.movie-db-section {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

@keyframes appear {
  from {
    scale: 0.25;
    opacity: 0;
    clip-path: inset(0 0 100% 0);
  }
  to {
    scale: 1;
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

.movie-db-section > div {
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 1rem;
  width: 500px;
  height: 500px;
  background-color: var(--bg-light);
  position: relative;
  box-shadow: var(--shadow-dark) 0px 2px 4px, var(--shadow) 0px 7px 13px -3px, var(--shadow-light) 0px -3px 0px inset;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
  transition: all 0.3s;
}

.movie-db-section > div:hover {
  transform: scale(0.98);
  border-radius: 1.25rem;
  box-shadow: 0px 0px 30px 1px var(--primary);
}

.movie-db-section > div > div:first-of-type {
  height: 25%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-db-section > div > div:last-of-type {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 0;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  background: linear-gradient(to bottom, var(--bg-light), var(--bg-dark));
}

.movie-db-section > div > div > div:first-of-type {
  border-top: 1px solid var(--border-muted);
}

.movie-db-section > div > div > div {
  height: 20%;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: 1px solid var(--border-muted);
}

.movie-db-section > div > div > div:last-of-type {
  border-bottom: none;
}

.movie-db-section > div > div > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.movie-db-section > div > div > div > p {
  width: 30%;
  text-align: center;
}

/* # THEME THEME-SWITCH */

.theme-switch-wrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.theme-switch {
  position: relative;
  width: 130px;
  height: 50px;
  margin: 0px;
  appearance: none;
  -webkit-appearance: none;
  background-color: rgb(4, 52, 73);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  transition: background-image 0.7s ease-in-out;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}

.theme-switch:checked {
  background-color: rgb(0, 195, 255);
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.theme-switch:after {
  content: "";
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 2px;
  top: 2px;
  transform: translateX(0px);
  animation: off 0.7s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes off {
  0% {
    transform: translateX(80px);
    width: 46px;
  }

  50% {
    width: 75px;
    border-radius: 25px;
  }

  100% {
    transform: translateX(0px);
    width: 46px;
  }
}

.theme-switch:checked:after {
  animation: on 0.7s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes on {
  0% {
    transform: translateX(0px);
    width: 46px;
  }

  50% {
    width: 75px;
    border-radius: 25px;
  }

  100% {
    transform: translateX(80px);
    width: 46px;
  }
}

.theme-switch:checked:before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 5px;
  transform-origin: 53px 10px;
  background-color: transparent;
  box-shadow: 5px -1px 0px #fff;
  filter: blur(0px);
  animation: sun 0.7s forwards ease;
}

@keyframes sun {
  0% {
    transform: rotate(170deg);
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
  }

  50% {
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
  }

  90% {
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;
    filter: blur(1px);
  }

  100% {
    transform: rotate(0deg);
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;
    filter: blur(1px);
  }
}

.theme-switch:before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 5px;
  filter: blur(1px);
  background-color: #f5daaa;
  box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;
  transform-origin: 53px 10px;
  animation: moon 0.7s forwards ease;
}

@keyframes moon {
  0% {
    transform: rotate(0deg);
    filter: blur(1px);
  }

  50% {
    filter: blur(1px);
  }

  90% {
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
  }

  100% {
    transform: rotate(170deg);
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
  }
}

/* # SEARCH BUTTON */

.search-panels {
  --default-color: var(--primary);
  --color-text: var(--text-muted);
  --color-active: var(--primary);
  --color-active-input: var(--primary);
  --transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --width-input: 200px;
  width: 100%;
}

.search-group {
  position: relative;
}

.search-input {
  width: var(--width-input);
  border: solid 1.5px var(--default-color);
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 1rem;
  color: var(--color-active-input);
  transition: border var(--transition);
  width: 100%;
}

.enter-label {
  font-size: 1.5rem;
  font-weight: 500;
  position: absolute;
  left: 15px;
  color: var(--color-text);
  pointer-events: none;
  transform: translateY(0.8rem);
  transition: var(--transition);
}

.search-input:focus,
input:valid {
  outline: none;
  border: 1.5px solid var(--color-active);
}

.search-input:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--color-active);
  border-radius: 20px;
  padding: 0.2em 0.6em;
  color: var(--color-text);
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1em;
  right: 80%;
  border-radius: 100%;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
  opacity: 0;
}

.search-input:focus ~ .btn-box,
input:valid ~ .btn-box {
  right: 10%;
  opacity: 1;
  transition-delay: 0s;
  transition: var(--transition);
}

.search-input:not(:focus) ~ .btn-box,
input:not(:valid) ~ .btn-box {
  transition-property: right, opacity;
  transition-delay: 300ms;
}

.search-input:focus ~ .btn-box:hover,
input:valid ~ .btn-box:hover {
  transform: scale(1.2);
}

.search-input:focus ~ .btn-box:hover:active,
input:valid ~ .btn-box:hover:active {
  transform: scale(1);
}

.btn-search {
  position: relative;
  cursor: pointer;
  background-color: var(--color-active);
  width: 2em;
  height: 2em;
  top: 2.5px;
  border: none;
  border-radius: 100%;
  padding: 0;
  transition: var(--transition);
}

.btn-search:active {
  transform: scale(1);
}

.btn-search svg {
  position: absolute;
  top: 25%;
  left: 25%;
  fill: var(--color-text);
  width: 12px;
  height: 12px;
}

#svg-circle {
  fill: var(--color-text);
  transition: var(--transition);
}

.search-input:focus ~ .btn-box:hover #svg-circle,
input:valid ~ .btn-box:hover #svg-circle {
  fill: transparent;
}

.btn-box-x {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.2rem;
  right: 0;
  opacity: 0;
  transform: rotate(-90deg) scale(0.1);
  transition: var(--transition);
}

.search-input:focus ~ .btn-box-x,
input:valid ~ .btn-box-x {
  opacity: 1;
  transform: rotate(0) scale(1);
}

.btn-clear {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  width: 2em;
  height: 2em;
  border: none;
  border-radius: 100%;
  padding: 0;
  transition: var(--transition);
}

.btn-clear:hover {
  color: var(--primary);
  background-color: transparent;
}

.btn-clear svg {
  width: 15px;
  height: 15px;
}

#clear-line {
  fill: var(--default-color);
}

.btn-box-x:hover #clear-line {
  fill: var(--color-active);
}
